Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log
*.png
Config
Content/Assets
Content/Base
Content/Characters
Content/Cinematic*
Content/Dev
Content/Effects
Content/Environment
Content/ExampleContent
Content/Gameplay
Content/GraniteSDK
Content/InsectsBirdsfish
Content/Items
Content/Maps
Content/Master_AnimBP
Content/MediaPlayer
Content/NaturePackage
Content/Old_Conan
Content/Slate
Content/Sound
Content/Splash
Content/Stumps_and_logs
Content/Systems
Content/Tools
Content/UI
Content/VFX
Content/Weathereffects
Plugins/*
Protectedassets.pak
Content/dev_attack_heavy_execute.uasset
Content/HitDummy.uasset
Content/M_ZathEgg_NoGranite.uasset
Content/Termite_Mound.uasset
Content/SM_Brimstone_test.FBX
Content/SM_banner_big_relichunters.uasset
Content/SM_banner_big_cimmerian_2.uasset
ConanSandbox.uproject
